/* base */

#screen {
    position : fixed;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
    overflow : hidden;
}

#slide-frame {
    position : absolute;
}


#slides-container {
    position : absolute;
}

#screen.horizontal #slides {
    white-space: nowrap;
    font-size: 0;
}

#screen.horizontal .slide {
    display        : inline-block;
    vertical-align : bottom;
}

.slide {
    position       : relative;
    white-space    : normal;
    font-size      : 15pt;
}

.slide-inner {
    position : absolute;
    left     : 0;
    right    : 0;
    top      : 0;
    bottom   : 0;
    padding  : 10px;
}

/* body.slave #tools-bar-container { */
/*     display: none; */
/* } */

/* #screen.vertical #tools-bar-container { */
/*     position: absolute; */
/*     top: 0; */
/*     bottom: 0; */
/*     left: 0; */
/* } */

/* #screen.vertical #tools-bar { */
/*     position: absolute; */
/*     top: 0; */
/*     bottom: 0; */
/*     right: 10px; */
/* } */

/* #screen.vertical #tools-bar:before{  */
/*     display        : inline-block; */
/*     height         : 100%; */
/*     width          : 0px; */
/*     vertical-align : middle; */
/*     content        : '' */
/* } */

/* #screen.vertical #tools-bar > * { */
/*     display: inline-block; */
/*     vertical-align : middle; */
/* } */

/* #screen.horizontal #tools-bar-container { */
/*     position: absolute; */
/*     left: 0; */
/*     right: 0; */
/*     bottom: 0; */
/* } */

/* #screen.horizontal #tools-bar { */
/*     position: absolute; */
/*     left: 0; */
/*     right: 0; */
/*     top: 10px; */
/*     text-align: center; */
/* } */

/* #screen.horizontal #tools-bar > div { */
/*     display: inline-block; */
/* } */

.vertical-center-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    white-space: nowrap;
}

/* for centering contents */
.vertical-center-container:before {
    display        : inline-block;
    height         : 100%;
    width          : 0px;
    background     : black;
    vertical-align : middle;
    content        : ''
}

.vertical-center-container > div {
    position       : static;
    display        : inline-block;
    vertical-align : middle;
    white-space    : normal;
    font-size      : 15pt;
}

#open-presenter {
    visibility: hidden;
}

#open-presenter.show {
    visibility: visible;
}

/* themeable */

body {
    background : grey;
    font-size: 20pt;
    font-family: 'Open Sans', Arial, sans-serif;
}

.slide {
    width         : 960px;
    height        : 600px;
    margin-bottom : 30px;
    border-radius : 10px;
    background    : white;
}

#screen.horizontal .slide {
    margin-right : 30px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#status-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}

.secret {
    display: none;
}

.secret-controller {
}

body.controller {
    background: darkred;
}

#open-presenter {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    background: white;
    border-radius: 5px;
}

#status-bar > * {
    display: inline-block;
    vertical-align: middle;
}

#btn-prev, #btn-next {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#screen.vertical #btn-prev {
    background: url("btn-prev-v.svg");
    background-size: 30px 30px;
}

#screen.vertical #btn-next {
    background: url("btn-next-v.svg");
    background-size: 30px 30px;
}

#screen.horizontal #btn-prev {
    background: url("btn-prev-h.svg");
    background-size: 30px 30px;
}

#screen.horizontal #btn-next {
    background: url("btn-next-h.svg");
    background-size: 30px 30px;
}

#status-current-index {
    font-family: "Courier New", Courier, monospace;
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
}
