/* base */

body {
    padding    : 0;
    margin     : 0;
    overflow   : hidden;
    visibility : hidden;
}

#slide-frame {
    position : fixed;
    visibility: hidden;
}

#slide-frame > * {
    visibility: visible;
}


#slides-container {
    position   : absolute;
}

.slides-offset {
    position    : relative;
    white-space : nowrap;
}

.slide {
    position    : relative;
    white-space : normal;
}

.slide-inner {
    position : absolute;
    left     : 0;
    right    : 0;
    top      : 0;
    bottom   : 0;
    padding  : 10px;
}

.slide.center {
    display: table;
}

.slide.center .slide-inner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#open-presenter {
    visibility: hidden;
}

#open-presenter.show {
    visibility: visible;
}

/* themeable */

body {
    background : grey;
}

.slide {
    width         : 960px;
    height        : 600px;
    margin-bottom : 30px;
    border-radius : 10px;
    background    : white;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#status-bar {
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.status-index {
    display: inline-block;    
    padding-right: 3px;
    color: grey;
}

.status-index.current {
    color: black;
}

.status-index:after {
    display: inline-block;
    padding-left: 3px;
    padding-right: 0px;
    content: "->";
}

.status-index:last-child:after {
    content: "";
}

.secret {
    display: none;
}

.secret-controller {
}

body.controller {
    background: darkred;
}

#open-presenter {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    background: white;
    border-radius: 5px;
}
