/* base */

#screen {
    position : fixed;
    top      : 0;
    bottom   : 0;
    left     : 0;
    right    : 0;
    overflow : hidden;
}

#slide-frame {
    position : absolute;
}


#slides-container {
    position : absolute;
}

#slides[arrange="horizontal"] {
    white-space: nowrap;
    font-size: 0;
}

#slides[arrange="horizontal"] .slide {
    display        : inline-block;
    vertical-align : bottom;
}

.slide {
    position       : relative;
    white-space    : normal;
    font-size      : 20px;
}

.slide-inner {
    position : absolute;
    left     : 0;
    right    : 0;
    top      : 0;
    bottom   : 0;
    padding  : 10px;
}

.slide.center {
    white-space: nowrap;
}

/* for centering contents */
.slide.center:before {
    display        : inline-block;
    height         : 100%;
    width          : 0px;
    background     : black;
    vertical-align : middle;
    content        : ''
}

.slide.center .slide-inner {
    position       : static;
    display        : inline-block;
    text-align     : center;
    vertical-align : middle;
    width          : 100%;
    white-space    : normal;
    padding        : 0;
}

#open-presenter {
    visibility: hidden;
}

#open-presenter.show {
    visibility: visible;
}

/* themeable */

body {
    background : grey;
    font-size  : 20px;
}

.slide {
    width         : 960px;
    height        : 600px;
    margin-bottom : 30px;
    border-radius : 10px;
    background    : white;
}

#slides[arrange="horizontal"] .slide {
    margin-right : 30px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#status-bar {
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}

.status-index {
    display: inline-block;    
    padding-right: 3px;
    color: grey;
}

.status-index.current {
    color: black;
}

.status-index:after {
    display: inline-block;
    padding-left: 3px;
    padding-right: 0px;
    content: "->";
}

.status-index:last-child:after {
    content: "";
}

.secret {
    display: none;
}

.secret-controller {
}

body.controller {
    background: darkred;
}

#open-presenter {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    background: white;
    border-radius: 5px;
}
